body {
  font-family: 'Roboto', sans-serif !important;
  color: #5c6a88;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-size: 47px;
}
h2{
  color: #031c4e;
  margin: 0;
  font-size: 35px;
}
#service h2, #get_started h2 {
  color: white;
}
h3 {
  color: #7a859d;
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
}
h4 {
  color: #031c4e;
}
/* UTILITY */
.relative {
  position: relative;
}
.v_center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.p_big {
  font-size: 18px;
}

/* COLOR */
.bg_white {
  background-color: white;
}
.bg_gray {
  background-color: #f3f5f9;
}
.bg_blue {
  background-color: #006aff;
}
.bg_darkblue {
  background-color: #031c4e;
}
.bg_gradient {
  background: rgb(0,72,198);
background: linear-gradient(108deg, rgba(0,72,198,1) 35%, rgba(0,32,155,1) 100%);
}
.text_white {
  color: white;
}
/* MARGIN AND PADDING */

.p_60 {
  padding: 60px 0;
}
.p_30_10 {
  padding: 30px 0 10px;
}
.p_vertical_30_60 {
  padding: 30px 0 60px;
}
.p_t_30 {
  padding-top: 30px;
}
.p_l_25 {
  padding-left: 25px;
}
.p_r_25 {
  padding-right: 25px;
}
.m_b_60 {
  margin-bottom: 60px;
}
.m_b_30 {
  margin-bottom: 30px;
}
.m_20 {
  margin: 20px 0;
}


/* NAVBAR */
nav {
  height: 65px;
  width: 100%;
}
#logo_col, #navbar_container ul li {
  line-height: 65px;
}
#navbar_container ul {
  padding: 0;
}
#navbar_container ul li {
  display: inline-block;
  list-style: none;
}
#navbar_container ul li a {
  text-decoration: none;
  color: black;
  padding: 0 15px;
  font-size: 16px;
}
#navbar_container ul li a:hover {
  color: #0167ff;
}
.nav_hamburgher {
  font-size: 20px;
  color: #006aff;
  display: none;
  position: absolute;
  right: 0;
  top: -45px;
}
.angle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
}


/* JUMBOTRON */
#jumbotron {
  background-color: #0069ff;
  background-image: url('../img/background_jumbo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:right;
  font-size: 10px;
}

  /* width: 100%;
  height: 400px;
  background-color: yellow;
  border: 1px solid black; */

.col-lg-7.hfull {
  height: 350px;
}
#jumbotron_form label {
  display: none;
}
.link_form {
  font-size: 24px;
}
.terms {
  font-size: 10px;
  margin-top: 20px;
}
.glogo {
  display: block;
  float: left;
  height: 20px;
}

/* PARTNERS */
#partners img {
  height: 100px;
}

/* SECTIONS */

/* DEPLOY SECTION */


/* DEVELOPERS */
#developers .col_carosello {
  height: 600px;
  line-height: 600px;
}
#developers img {
  width: 80%;
}
#developers .img_carosello::before {
  font-family: 'Glyphicons Halflings';
  content: "\e079";
  font-size: 30px;
}
#developers .img_carosello::after {
  font-family: 'Glyphicons Halflings';
  content: "\e080";
  font-size: 30px;
}
.round {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 2px solid #006aff;
  border-radius: 50%;
}


/* FEATURES */
#features img {
  height: 41px;
}

/* SERVICE */
#service {
  line-height: 40px;
}
#service .col-lg-3 {
  text-align: right;
}
#service > .container > .row > .col-lg-6 .row:not(:last-child) {
  border-bottom: 1px solid white;
}
#service > .container > .row > .col-lg-6  [class$="-2"] {
  font-weight: bold;
}
#service > .container > .row > .col-lg-6  [class$="-7"] {
  color: #7a859d;
}
#service > .container > .row > .col-lg-6  [class$="-3"] a {
  color: #00d5d1;
}
#service > .container > .row > .col-lg-6  [class$="-3"] a::after {
  content: " >"
}
/* TEAMS */
#teams img {
  width: 80%;
  margin-bottom: 30px;
}
#teams .img_carosello::before {
  font-family: 'Glyphicons Halflings';
  content: "\e079";
  font-size: 30px;
}
#teams .img_carosello::after {
  font-family: 'Glyphicons Halflings';
  content: "\e080";
  font-size: 30px;
}

/* GET STARTED */
.btn_start {
  color: #006aff ;
}

/* FOOTER */
footer {
  color: #7a859d;
}

footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  color: #a6adbd;
}
.footer_link_title {
  font-weight: bold;
}
footer .fab {
  color: #7a859d;
  font-size: 20px;
  margin: 10px 5px;

}
footer img {
  margin-bottom: 10px;
}
footer p {
  margin: 0;
  color: #a6adbd;
}
/* MEDIA QUERY */
@media all and (max-width: 991px) {
  .nav_right, .nav_left {
    display: none;
  }
  .nav_hamburgher {
    display: block;
  }

}
@media all and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    color: #7a859d;
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
  }
  h4 {
    font-size: 18px;
  }
  .terms {
    font-size: 14px;
    margin-top: 20px;
  }
  #teams .img_carosello::before, #developers .img_carosello::before {
    display: none;
    font-family: 'Glyphicons Halflings';
    content: "\e079";
    font-size: 30px;
  }
  #teams .img_carosello::after, #developers .img_carosello::after {
    display: none;
    font-family: 'Glyphicons Halflings';
    content: "\e080";
    font-size: 30px;
  }

}
